$blue-accent: #27D1F7;
$dark-purple: #080942;

.navbarParentMobile {
    display: none;
}

.navbarParent {
    z-index: 999;
    position: absolute;
    top: 15px;
    align-items: center;
    width: 100vw;
    
    .navbarContent {
        display: flex;
        width: 80%;
        margin: auto;
        align-items: center;
        
        .companyLogo {
            flex: 1;
            display: flex;
            column-gap: 16px;
            align-items: center;
            cursor: pointer;

            img {
                width: 36px;
                height: 36px;
            }
            h1 {
                font-size: 16px;
                span {
                    color: $blue-accent;
                }
            }
        }

        .navLinks {
            flex: 2;
            display: flex;
            list-style: none;
            column-gap: 50px;
            justify-content: center;
            align-items: center;

            h4 {
                font-weight: 500;
                line-height: 0;
            }
            
            .navLink {
                position: relative;
                box-sizing: border-box;
                
                .navLinkIndicator {
                    transition: 0.2s;
                    position: absolute;
                    width: 0px;
                    bottom: 2px;
                    left: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 2px;
                    background-color: $blue-accent;
                }

                &:hover {
                    a {
                        opacity: .8;
                    }
                    .navLinkIndicator {
                        width: 25px;
                    }
                }
            }
        }
        .cta {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .navbarParent {
        display: none;
    }
    .navbarParentMobile {
        background-color: $dark-purple;
        display: block;
        z-index: 999;
        position: absolute;
        align-items: center;
        width: 100vw;
        
        
        .navbarContent {
            background-color: $dark-purple;
            height: 100%;
            padding: 15px 0px;
            z-index: 100;
            display: flex;
            align-items: center;
            width: 80%;
            margin: auto;
            justify-content: space-between;
            .companyLogo {
                transition: 0.5s;
                cursor: pointer;
                &:hover {
                    opacity: .8;
                }
            }
            .hamburgerMenu {
                cursor: pointer;
                width: fit-content;
                display: flex;
                flex-direction: column;
                row-gap: 8px;
                .line {
                    transition: 0.5s;
                    width: 30px;
                    height: 2px;
                    background-color: white;
                }
                .line1 {
                    transition: 0.5s;
                    width: 20px;
                }
                .line2 {
                    transition: 0.5s;
                    width: 15px;
                }
            }
        }

        .navMenu {
            transition: 0.5s;
            position: absolute;
            z-index: -100;
            transform: translateY(-120%);
            text-align: center;
            background-color: #080942;
            width: 100%;
            .navLinks {
                padding: 0;
                list-style: none;

                .navLink {
                    transition: 0.5s;
                    margin: 10px 0;
                    padding: 10px 0;
                    h4 {    
                        margin: 0;
                    }
                    &:hover {
                        opacity: .8;
                    }
                }
                .navLinkPrimary {
                    background-color: $blue-accent;
                    width: fit-content;
                    padding: 10px 20px;
                    border-radius: 10px;
                    box-shadow: 0px 0px 5px $blue-accent;
                    margin: auto;
                }
            }
        }
        .showMenu {
            transition: 0.5s;
            transform: translateY(0%);
        }
    }
}