$blue-accent: #27D1F7;
$dark-purple: #080942;

.blueBtnContainer {
    transition: 0.5s;
    width: fit-content !important;
    background-color: $blue-accent !important;
    z-index: 999 !important;
    padding: 0 !important;
    color: white !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    padding: 6px 12px !important;
    box-shadow: 0px 0px 5px $blue-accent;
    
    h1 {
        font-size: 14px !important;
        line-height: 0 !important;
        margin-block-start: 0.67em !important;
        margin-block-end: 0.67em !important;
    }
    p {
        margin-block-start: 0.67em !important;
        margin-block-end: 0.67em !important;
    }
    
    &:hover {
        background-color: $dark-purple !important;
        transform: translateY(-2px) !important;
    }
}

.blueBtnSecondaryContainer {
    transition: 0.5s;
    width: fit-content !important;
    border: 1px solid $blue-accent !important;
    z-index: 999 !important;
    padding: 0 !important;
    color: white !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    padding: 6px 12px !important;
    box-shadow: 0px 0px 5px $blue-accent;
    
    h1 {
        font-size: 14px !important;
        line-height: 0 !important;
        margin-block-start: 0.67em !important;
        margin-block-end: 0.67em !important;
    }
    p {
        margin-block-start: 0.67em !important;
        margin-block-end: 0.67em !important;
    }
    
    &:hover {
        background-color: $blue-accent !important;
        transform: translateY(-2px) !important;
    }
}
