$blue-accent: #27D1F7;
$dark-blue: #080942;

.hero { 
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    
    .heroBackground {
        position: absolute;
        z-index: -1;
        top: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    
    .heroContent {
        display: flex;
        width: 80%;
        height: 100%;
        margin: auto;
        align-items: center;
        
        .leftCol {
            width: 100%;
            h1 {
                font-size: 48px;
            }
            p {
                font-size: 20px;
            }
            .cryptoPriceBoxList {
                display: flex;
                column-gap: 16px;
                margin: 30px 0;
            }
            
        }

        .rightCol {
            position: relative;
            width: 100%;
            height: 100%;
            img {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 40vw;
            }
        }
    }
}

.provide {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: fit-content;
    overflow-x: hidden;

    .provideBackground {
        position: absolute;
        width: 100vw;
        height: 100%;
        top: 0;
        z-index: -1;
        object-fit: cover;
    }
    
    .provideContent {
        width: 80%;
        padding: 60px 0;
        margin: auto;
        
        .title {
            text-align: center;
            margin: auto;
            h2 {
                font-size: 36px;
                margin: 0;
            }
            p {
                font-size: 24px;
                margin: 0;
            }
        }

        .provideInfoBoxList {
            display: flex;
            column-gap: 40px;
            margin-top: 36px;
        }
    }
}

.decentralized {
    background: linear-gradient(110.51deg, #080942 0%, #431C76 92.91%);
    .decentralizedContent {
        width: 80%;
        padding: 60px 0;
        display: flex;
        margin: auto;
        align-items: center;

        .leftCol {
            flex: 3;
            display: flex;
            img {
                margin: auto;
                height: 60vh;
            }
        }

        .rightCol {
            flex: 4;

            .cryptoList {
                display: flex;
                flex-direction: column;
                row-gap: 15px;
            }

            h1 {
                font-size: 48px;
                margin: 0;
            }
            p {
                font-size: 20px;
            }
        }
    }
    .getNotifiedContent {
        width: 80%;
        margin: auto;
        text-align: center;
        padding-bottom: 60px;
        
        h1 {
            margin: 0;
            font-size: 36px;
        } 
        p {
            margin: 0;
            font-size: 24px;
        }

        .inputBox { 
            width: fit-content;
            color: white;
            margin: auto;
            margin-top: 20px;
            display: flex;
            column-gap: 10px;
            align-self: center;

            input {
                background-color: $dark-blue;
                border: none;
                padding: 9px 12px;
                height: fit-content;
                border-radius: 10px;

                &::placeholder {
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 16px;
                    color: white;
                    opacity: .5;
                }

                &:nth-child(2) {
                    width: 30vw;
                }
            }
        }
    }
}

.footer {
    background-color: $dark-blue;
    width: 100vw;
    display: flex;
    height: 56px;
    align-items: center;
    .footerContent {
        margin: auto;
        width: 80%;
    }
    .gray {
        color: white;
        opacity: .5;
    }
    h3 {
        margin: 0;
        font-size: 16px;
    }
}