@import url( 'https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Source+Sans+Pro:wght@400;600&display=swap');

$blue-accent: #27D1F7;

body,
html {
    padding: 0;
    margin: 0;
    color: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
    font-family: 'Inter', sans-serif;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

span {
    color: $blue-accent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
